<!DOCTYPE html>

<html>
  <head>
    <title>Kevin's Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <LINK href="style.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>
    <div id="page">
      {{ myName }}
      <img :src="headshot"></img>
    </div>

    <script src="vuedev.js"></script>
    <script src="main.js"></script>
    <script src="script.js"></script>



  <!-- Version 1

  <div class="container-fluid">
    <div class="nav-bar" id="navBar">
      <span class="my-name">
      Kevin Jones
      </span>
      <a href="javascript:void(0);" class="nav-icon" onclick="reveal()">&#9776;</a>
      <a href="#contact">Contact</a>
      <a href="#about-me">About Me</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#landing-page">Home</a>
    </div>

    <a name="landing-page"></a>
    <div class="landing-page">
      <div class="landing-text">
        <h1>JonesCode</h1>
        <h3>Code by Jones</h3>
        <div class="landing-butons">
          <a href="https://twitter.com/KevDJJones" class="btn btn-info" role="button" target="blank">Twitter</a>
          <a href="https://www.linkedin.com/in/kevinjones215/" class="btn btn-info" role="button" target="blank">LinkedIn</a>
          <a href="https://www.freecodecamp.org/kaydeejay" class="btn btn-info" role="button" target="blank">FreeCodeCamp</a>
          <a href="https://github.com/kaydeejay" class="btn btn-info btn" role="button" target="blank">GitHub</a>
        </div>
      </div>
      <div class="landing-background"></div>
    </div>

    <a name="portfolio"></a>
    <div class="portfolio">
      <p class="section-title">Portfolio</p>
      <div class="container">

        <a href="https://s.codepen.io/kaydeejay/debug/KowJYL/bYMdyGLZvobr" target="blank">
          <div class="row portfolio-entry">
            <div class="col-xs-8">
              <p class="portfolio-text">
                <span class="portfolio-titles">Calculator</span><br/>A simple four-function calculator I made using CSS grid and vanilla JS. It does math, just like a real calculator!
              </p>
            </div>
            <div class="col-xs-4">
              <img class="img-responsive" src="https://kaydeejay.github.io/jscalc.jpg" height="200px" width="200px">
            </div>
          </div>
        </a>

        <a href="https://s.codepen.io/kaydeejay/debug/LezwPe/yYryLDnPeYKM" target="blank">
          <div class="row portfolio-entry">
            <div class="col-xs-4">
              <img class="img-responsive" src="https://imgoat.com/uploads/c627ab1ccb/98714.jpg" height="200px" width="200px">
            </div>
            <div class="col-xs-8">
              <p class="portfolio-text">
                <span class="portfolio-titles">Weather App</span><br/>A simple web app that uses JSON data to geolocate the user and display some vital weather information. This was also my first time ever using CSS Grid.
              </p>
            </div>
          </div>
        </a>

        <a href="https://repl.it/@kaydeejay/Eratosthenes-Sieve-and-finds-composite-prime-factors" target="blank">
          <div class="row portfolio-entry">
            <div class="col-xs-8">
              <p class="portfolio-text">
                <span class="portfolio-titles">Sieve of Eratosthenes</span><br/>The Sieve of Eratosthenes is an algorithm to find all the positive prime integers within a range. My function also tells you the prime factors of all the composite numbers in
                the same range. Mathematical.
              </p>
            </div>
            <div class="col-xs-4">
              <img class="img-responsive" src="https://kaydeejay.github.io/eratosthenes.jpg" height="200px" width="200px">
            </div>
          </div>
        </a>

        <a href="https://s.codepen.io/kaydeejay/debug/NwqEMo/yokZEQZaDXmA" target="blank">
          <div class="row portfolio-entry">
            <div class="col-xs-4">
              <img class="img-responsive" src="https://kaydeejay.github.io/robjord.jpg" height="200px" width="200px">
            </div>
            <div class="col-xs-8">
              <p class="portfolio-text">
                <span class="portfolio-titles">Robert Jordan Tribute Page</span><br/>The first page I ever designed. It's a tribute to one of my favorite novelists, Robert Jordan.
              </p>
            </div>
          </div>
        </a>

      </div>
    </div>

    <a name="about-me"></a>
    <div class="about-me">
      <p class="section-title">About Me</p>
      <div class="container">
        <div class="row">
          <div class="col-xs-6 offset-xs-1">
            <p class="portfolio-text"><span class="portfolio-titles">Hi! I'm Kevin.</span><br/>I'm a self-taught junior web dev, and currently working my way through the program at freecodecamp.org. I've worked in restaurants since I graduated college 6 years ago, and I want to
              make a change. Outside of that, I'm also an actor, and I perform in plays and musicals all over the USA. Stay tuned for more projects as I develop them, and also a separate, dedicated web page for my performance career. Thanks for visiting!
            </p>
          </div>
          <div class="col-xs-5">
            <img class="img-responsive" src="https://imgoat.com/uploads/93f65e080a/58759.jpg" height="600px">
          </div>
        </div>
      </div>
    </div>

    <a name="contact"></a>
    <div class="contact">
      <div class="contact-text">
        <p><span class="contact-title">Questions?</span><br/>Let's chat</p>
        <div class="landing-butons">
          <a href="https://twitter.com/KevDJJones" class="btn btn-info" role="button" target="blank">Twitter</a>
          <a href="https://www.linkedin.com/in/kevinjones215/" class="btn btn-info" role="button" target="blank">LinkedIn</a>
          <a href="https://www.freecodecamp.org/kaydeejay" class="btn btn-info" role="button" target="blank">FreeCodeCamp</a>
          <a href="https://github.com/kaydeejay" class="btn btn-info btn" role="button" target="blank">GitHub</a>
        </div>
      </div>
      <div class="contact-background"></div>
    </div>

  </div>
-->
</body>
</html>
