.container-fluid {
  margin: 0;
  padding: 0;
}

.my-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.nav-bar {
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #a4b9db;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.nav-bar a {
  float: right;
  text-decoration: none;
  display: block;
  padding: 10px;
  color: black;
}

.nav-bar a:hover {
  background-color: #999999;
  color: #ededed;
}

.nav-bar .nav-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-bar a:not(:first-child) {display: none;}
  .nav-bar a.nav-icon {
    float: right;
    display: block;
  }
  .nav-bar.responsive {position: fixed;}
  .nav-bar.responsive .nav-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.landing-page {
  width: 100%;
  height: 100vh;
}

.landing-background {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url("https://static.pexels.com/photos/163130/keyboard-black-notebook-input-163130.jpeg");
  background-size: cover;
  z-index: auto;
  position: absolute;
}

.landing-text {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 30%;
  left: 0;
  right: 0;
  transorm: translateX(-50%) translateY(-50%);
  font-family: 'Montserrat', sans-serif;
}

.section-title {
  font-size: 30px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  padding-top: 30px;
}

.portfolio {
  width: 100%;
}

.portfolio-entry  {
  padding: 16px 0 16px 0;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.portfolio-entry:hover {
  background-color: #a4b9db;
}

.portfolio-text {
  font-family: Montserrat, sans-serif;
  padding-top: 30px;
  color: black;
}
  font-size: 25px;
}

.about-me {
  width: 100%;
  height: 100vh;
}

.contact {
  text-align: center;
  width: 100%;
  height: 100vh;
  padding-top: 16px;
}

.contact-text {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  margin-top: 30px;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  color: #262626;
}

.contact-title {
  font-size: 30px;
}

.contact-background {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/05/A_time_for_a_cup_of_coffee.jpg");
  width: 100%;
  height: 100%;
  opacity: 0.65;
  background-size: cover;
  z-index: auto;
  position: absolute;
}